body {
    text-align: center;
    font-family: 'Share Tech', sans-serif;
}

.navbar {
    background: firebrick;
    text-align: right;
}

.navlogo {
    padding: 10px;
    text-align: left;
}

.titleName {
    color: gray;
    font-size: 50px;
}

.heading{
    color: gray;
    font-size: 30px;
}

.link-main {
 color: white;
 text-decoration: none;
}

.link-main:hover {
 color: white;
 text-decoration: underline;
}

.link-bottom {
    color: lightskyblue;
    text-decoration: none;
   }
   
.link-bottom:hover {
color: blue;
   }

li {
display: inline;
margin-right: 10px;

}